<form #reinitPasswordForm="ngForm" (ngSubmit)="onSubmit(reinitPasswordForm)">
    <div class="form-group">
        <label>Old password</label>
        <input type="password" class="form-control" name="oldPassword" ngModel>
        <label>New password</label>
        <input type="password" class="form-control" name="newPassword" ngModel>
        <label>Confirm new password</label>
        <input type="password" class="form-control" name="newConfirmPassword" ngModel>
    </div>
    <button class="btn btn-success" type="submit">SUBMIT</button>
</form>