
<!-- MODAL COMPONENT USED FOR FORMS DEFINED => adding the form component into 'modal-body' div class -->
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ modalName }}</h4>
        <button type="button" class="close-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">X</span>
        </button>
    </div>
    <div class="text-danger" style="text-align: center; background-color: #ecdff1;">{{ msg }}</div>
    <div class="modal-body">
        <app-signin-form #signin *ngIf="isToSign" (dataUsername)="emitUsername($event)" (modalMsg)="displayMsg($event)" (closeModal)="emitClose($event)"></app-signin-form>
        <app-signup-form #signup *ngIf="isToCreate" (dataUsername)="emitUsername($event)" (modalMsg)="displayMsg($event)" (closeModal)="emitClose($event)"></app-signup-form>
        <app-create-folder-form #createFolder *ngIf="toCreateFolder" (reloadData)="emitReloadData($event)" (closeModal)="emitClose($event)"></app-create-folder-form>
        <app-modify-password #changePassword *ngIf="changePassword" (reloadData)="emitPasswordChanged($event)" (closeModal)="emitClose($event)"></app-modify-password>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>